section {
  height: 500px;
  background-color: coral;
  border: solid white 8px
}

.hero {
   background-color: dimgray;
   height: 100vh;
   color: white;
   font-size: 25px;
}

footer {
  height: 500px;
  background-color: rgb(167, 193, 241);
  border: solid white
}

nav {
  display: flex;
  justify-content: space-around;
  }

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  font-size: 30px;
}
  

li {  
text-decoration: none;
  }