section {
  height: 500px;
  background-color: coral;
  border: solid white 8px
}

.hero {
   background-color: rgb(79, 153, 177);
   height: 80vh;
   color: white;
   font-size: 20px;
}

footer {
  height: 500px;
  background-color: rgb(116, 158, 236);
  border: solid white
}

nav {
  display: flex;
  justify-content: space-between;
  }

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 30px;
}
  

li {  
text-decoration: none;
  }

  h1 {
  font-size: 40px;
  }

.hero-text {
  margin-left: 80px;
}

.button {
  width: 200px;
  height: 80px;
  background-color: darksalmon;
  text-align: center;
}